


<md-dialog aria-label="Mango (Fruit)" style = "width: 1000px">
    <form ng-cloak>
      <md-toolbar style = "background-color: #343A40;">
        <div class="md-toolbar-tools">
          <h2>Accounts</h2>
        </div>
      </md-toolbar>
  
      <md-dialog-content layout-padding>

        <div>
          <h3>Change Password</h3>
          <br>
        </div>
        <div layout-gt-sm="row">
  
          <md-input-container class="md-block" flex-gt-sm>
              <label>User Key</label>
              <input ng-model="new_user.user_key" name="pass1" min="6" type="password" required>
              <div class="hint col-red" ng-show="form_new_user.pass1.$dirty && new_user.user_key.length < 6">6 Minimum Characters</div>
          </md-input-container>
  
          <md-input-container class="md-block" flex-gt-sm>
              <label>Re-KEY</label>
              <input ng-model="re_password" min="6" type="password" name="password" required>
              <div class="hint col-red" ng-show="new_user.user_key !== re_password && form_new_user.user_key.$dirty">Password didn't match!</div>
          </md-input-container>
  
          
          
      </div>
      <div layout="row" layout-align="end end">
        <md-button type="submit" ng-disabled="form_new_user.$invalid || new_user.user_key !== re_password" ng-click="changePasswordData(new_user)" class="md-raised md-block md-primary" >
            Create user
        </md-button>
        </div>
      </md-dialog-content>

    
    </form>
</md-dialog>
  
  