<md-card class="autooverflowy">
<div style="visibility: hidden" >
 

    <div  class="md-dialog-container" id="input_accomplishment_dialog">



      <md-dialog   layout-padding >
        <h2>Input Accomplishment Data. </h2>
        

        <div layout="column" > 
          <!-- {{Selected_Activity_Title}} -->

          <!-- <input id="text" type="text" value="{{Selected_Activity_Title}}" style="width:80%" /> -->
        <div id="Submission_INPUT_QR" style="width:100px; height:100px; margin-top:15px;"></div>

        <!-- <button ng-click="set_QR_value(Selected_Activity_Title)">hit meh!!</button> -->

          


      <md-input-container flex="20" style="padding-left: 20;">
        <label align="left" style="padding-left: 20;">Quantity</label>
          <input type="number" ng-model="Quantity" style="padding-left: 20;">
       </md-input-container>

       <!-- <md-input-container flex="20" style="padding-left: 20;">
        <label align="left" style="padding-left: 20;">Date Completed</label>
          <input type="text" ng-model="Date_Completed" style="padding-left: 20;">
       </md-input-container> -->

       <md-datepicker ng-model="Accom_Date" md-placeholder="Date Completed" md-open-on-focus required=""></md-datepicker>

       <md-input-container flex="20" style="padding-left: 20;">
        <label align="left" style="padding-left: 20;">Remarks</label>
          <input type="text" ng-model="Remarks" style="padding-left: 20;">
       </md-input-container>

       


   <!--    Quantity:<input type="text" name="quant" Value=""><br>
      Date Completed:<input type="date" name="dateCom" Value=""><br>
      Remarks  :<input type="text" name="Rem" Value=""> -->

 
<form>
        <h4>Attach MOV File</h4>
                        <input type="file" id="uploadfile" name="file">
                        <!-- <input type="text" name="last" id="last" value="valval" >
                          <input type='button' value='Upload' id='upload' ng-click='upload()' > -->
        

   <!--    Quantity:<input type="text" name="quant" Value=""><br>
      Date Completed:<input type="date" name="dateCom" Value=""><br>
      Remarks  :<input type="text" name="Rem" Value=""> -->


</form>
      

        </div>

          

        



        <md-dialog-actions layout="row">
      
      
      <md-button class="md-warn md-raised" ng-click="hideDialog($event,'input_accomplishment_dialog');clear_qr()">
       Cancel
      </md-button>
      <md-button class="md-primary md-raised" ng-click="save_Accomplishment(Selected_Activity_ID,Quantity,Accom_Date,Remarks);hideDialog($event,'input_accomplishment_dialog');">
        Submit
      </md-button>
    </md-dialog-actions>
      </md-dialog>
      


    </div>

  </div> 

  

</md-card>
