<html>
<body>

<md-card ng-init = "">



	
	<div align="center" ng-init = "get_Indicators_Year(Selected_Year)">
		<h1>Submit Accomplishment</h1>
		<h3>Please search and select indicator.</h3>

    


<br>
	<md-input-container flex = "20" style="padding-bottom: 25;">
				<label align="left">Year</label>
				<md-select  ng-model="Selected_Year" ng-change="get_Indicators_Year(Selected_Year)">


					<md-option ng-value="data.value" ng-repeat="data in AllYears">
						{{ data.name }}
					</md-option>
				</md-select>
			</md-input-container >
	
  <!--     <md-input-container flex="20" style="padding-left: 20;">
        <label align="left" style="padding-left: 20;">Search</label>
          <input type="text" ng-model="search" style="padding-left: 20;">
       </md-input-container> -->

<br>

       


      

                
	</div>


	<div flex layout ="column"   style="color:black;" layout-align="fill" >
		
  <md-list flex="grow" >
                   
                   <md-divider></md-divider>                   
                  <md-list-item flex ng-repeat="indicator in indicator_data|filter:SearchData |filter:{division:user_level}" class="md-3-line"  
                  ng-click= 'show_input_accomplishment_dialog($event,indicator.idindicators,indicator.Title);'>
                   
                    <div flex="35" class="md-list-item-text" layout="column" >
                      
                      <div layout="row">
                          <h4 flex="30"><strong>Title: </strong></h4>
                          <h4 flex="70">{{ indicator.Title}}</h4>
                      </div>
                       <div layout="row">
                          <h4 flex="30"><strong>Annual Target: </strong></h4>
                          <h4 flex="70">{{ indicator.AnnualTarget}}</h4>
                      </div>
                    </div>

                    <!-- <md-button class="md-secondary">
                        Secondary Button
                      </md-button> -->
              

          <md-divider ></md-divider>  
        </md-list-item>

      </md-list>
  
</div>

<!-- <div ng-include="'pages/inputAccomp/modals/input_accomplishment_dialog.html'"></div> -->
	

</md-card>



</body>

</html>